::-webkit-scrollbar{
  display: none;
  }
    
/* Google Font CDN Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

html{
  --blue: #0044ff;
  --light-blue: #004e92;
  --dark-blue: #000428;
}

::-webkit-scrollbar{
  display: none;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
body{
  min-height: 100vh;
  width: 100%;
  background: #c8e8e9;
  display: fixed; /* CHANGED TO */
  align-items: center;
  justify-content: center;
  /* background: linear-gradient(to left, #000428 0%, #004e92 100%); */ /* OLD COLOURS*/
  background: linear-gradient( to left, #00f 0%, #39FF14 );
}
.container{
  width: 85%;
  background: #fff;
  border-radius: 6px;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  /* background: linear-gradient(to right, #000428 0%, #004e92 100%); OLD COLOURS */
  background: linear-gradient( to right, #00f 0%, #39FF14 );
  margin-left: 95px; /* MOVES FORM TO CENTRE OF PAGE INSTED FIXED TO LEFT*/
  margin-top: 5%;  /* MOVES FOR TO CENTRE OF PAGE INSTED FIXED TO TOP - ADJUST WHEN NAV INSERTED */
}
.container .content{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container .content .left-side{
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
  position: relative;
  color: white; /* changes colour of heading address, phone, email*/
}
.content .left-side::before{
  content: '';
  position: absolute;
  height: 70%;
  width: 2px;
  right: -15px;
  top: 50%;
  transform: translateY(-50%);
  background: #afafb6; /* changes icon address , phone, email text*/
}
.content .left-side .details{
  margin: 14px;
  text-align: center;
}
.content .left-side .details i{
  font-size: 30px;
  /* color: #3e2093; */
  color: red;
  margin-bottom: 10px;
}
.content .left-side .details .topic{
  font-size: 18px;
  font-weight: 500;
}
.content .left-side .details .text-one,
.content .left-side .details .text-two{
  font-size: 14px;
  color: #afafb6;
}
.container .content .right-side{
  width: 75%;
  margin-left: 75px;
  color: white; /* change colour of send us msg txt*/
}
.content .right-side .topic-text{
  font-size: 23px;
  font-weight: 600;
  /* color: #3e2093; */
  color: red;
}
.right-side .input-box{
  height: 50px;
  width: 100%;
  margin: 12px 0;
}
.right-side .input-box input,
.right-side .input-box textarea{
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #DCDCDC; /* changes colour of boxes*/
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}
.right-side .message-box{
  min-height: 110px;
  /* margin: 6px; */    /* IF APPLIED THEN BOX MOVES TO RIGHT AND OFF ALIGNMENT WITH OTHERS*/
  /* resize: none;  */

  /* height: 100%; */
  /* width: 100%; */
  /* border: none; */
  /* outline: none; */
  /* font-size: 16px; */
  /* background: #F0F1F8; */
  /* border-radius: 6px; */ 

}
.right-side .input-box textarea{
  padding-top: 6px;
}
.right-side .button{
  display: inline-block;
  margin-top: 12px;
}
.right-side .button input[type="button"]{
  color: #fff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  background: red; /* colour of btn*/
  cursor: pointer;
  transition: all 0.3s ease;
}
.button input[type="button"]:hover{
  background: black; /* changes color on hover of btn*/
  color: red;
}

@media (max-width: 950px) {
  .container{
    width: 90%;
    padding: 30px 40px 40px 35px ;
  }
  .container .content .right-side{
   width: 75%;
   margin-left: 55px;
}
}
@media (max-width: 820px) {
  .container{
    margin: 40px 0;
    height: 100%;
  }
  .container .content{
    flex-direction: column-reverse;
  }
 .container .content .left-side{
   width: 100%;
   flex-direction: row;
   margin-top: 40px;
   justify-content: center;
   flex-wrap: wrap;
 }
 .container .content .left-side::before{
   display: none;
 }
 .container .content .right-side{
   width: 100%;
   margin-left: 0;
 }
}

