::-webkit-scrollbar {
    display: none;
}

/* Start of styles */
:root {
    /* font-size */
    --txt-16: 1rem;
    --txt-20: 1.25rem;
    --txt-24: 1.5rem;
    --txt-32: 2rem;
    --heading-sml: 1.75rem;
    --heading-med: 2rem;
    --heading-lrg: 3rem;

    /* colours */
    --primary-blue: #205d91;
    --primary-dark-grey: #878786;
    
    --secondary-purple: #504171;
    --secondary-green: #007d7a;
    --secondary-teal: #59993d;
    --secondary-orange: #f07e19;
    --secondary-yellow: #f2c400;
    --secondary-red: #b61823;

    --tio-green: rgb(102, 255, 0);
    --black: rgba(20,20,20);
    --blue: #0044ff;
    --dark-blue: #000428;
    --light-blue: #004e92;
    --richfield-red: #e74033;
    --blue-gradient: linear-gradient(-90deg, #000428, #004e92);
    --background:  linear-gradient( to right, rgb(40, 40, 40) 40%, #00f  );
    --background-reverse:  linear-gradient( to left, rgb(40, 40, 40) 40%, #00f  );
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;

    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;

    font-family: 'Open Sans', 'Raleway', sans-serif;
}

*::selection {
    background: var(--richfield-red);
    color: var(--dark-blue);
}

html {
    font-size: 65%;
    overflow-x: hidden;
    color: #fff;
    background: var(--background);
}

section {
    min-height: 100vh;
    padding: 1rem 7%;
    padding-top: 3.3rem;
}

.btn {
    font-size: 2rem;
    margin-top: 1rem;
    padding: 0.7rem 3rem;

    color: inherit;
    cursor: pointer;
    border-radius: 1.5rem;
    background: var(--blue);
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);

    position: relative;
    overflow: hidden;
    z-index: 0;
}
.btn:hover {
    background: var(--primary-dark-grey);
}
.home .btn:hover {
    background: var(--primary-dark-grey);
    color: #000;
}

.btn:hover::before {
    transition: .2s linear;
    left: 120%;
}

header {
    width: 100%;
    padding: 1.5rem 7%;
    background: var(--background);
    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header .logo {
    color: #fff;
    font-size: 2.5rem;
}
header .logo img {
    width: 50px;
    height: 50px;
    background: var(--primary-dark-grey);
}
header .header-nav ul {
    display: flex;
    align-items: center;
    justify-content: center;

    list-style: none;
}

header .header-nav ul li {
    margin: 0 var(--txt-16);
}

header .header-nav ul li a {
    font-size: var(--txt-32);
    color: inherit;
}

header .header-nav ul li a.active,
header .header-nav ul li a:hover {
    border-bottom: 2px solid var(--tio-green);
}

header #login,
header #menu {
    font-size: var(--heading-med);
    color: #fff;
    cursor: pointer;
}

header #login:hover {
    color: var(--tio-green);
}

header #menu {
    color: #fff;
    display: none;
    cursor: pointer;
    font-size: var(--heading-lrg);
}

/* Login card starts */
.login-container {
    position: relative;
    /* make relative so not vert col when add features*/
    max-width: 850px;
    width: 100%;
    background: #fff;
    padding: 40px 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .2);
    perspective: 2700px;
    margin: 0 auto;
    z-index: 1001;
    display: none;
}

.login-container.popup {
    display: block;
    position: sticky;
    top: 125px;
    margin: 0 auto;
    box-shadow: 0 .5rem 5rem var(--dark-blue);
}

.login-container .cover {
    position: absolute;
    top: 0;
    left: 50%;
    height: 100%;
    width: 50%;
    z-index: 98;
    transition: all 1s ease;
    transform-origin: left;
    transform-style: preserve-3d;
}

.login-container #flip:checked~.cover {
    transform: rotateY(-180deg);
}

.login-container .cover .front,
.login-container .cover .back {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.cover .back {
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.login-container .cover::before,
.login-container .cover::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(to left, #000428 0%, #004e92 100%);
    opacity: 0.5;
    z-index: 12;
}

.login-container .cover::after {
    opacity: 0.3;
    transform: rotateY(180deg);
    backface-visibility: hidden;
}

.login-container .cover img {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 10;
}

.login-container .cover .text {
    position: absolute;
    z-index: 130;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cover .text .text-1,
.cover .text .text-2 {
    font-size: 26px;
    font-weight: 600;
    color: #fff;
    text-align: center;
}

.cover .text .text-2 {
    font-size: 15px;
    font-weight: 500;
}

.login-container .forms {
    height: 100%;
    width: 100%;
    background: #fff;
}

.login-container .form-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.login-container .fa-times {
    position: absolute;
    top: 5px;
    left: 10px;
    font-size: var(--heading-lrg);
    cursor: pointer;
    z-index: 1;
    color: #000;
}

.form-content .login-form,
.form-content .signup-form {
    width: calc(100% / 2 - 25px);
}

.forms .form-content .title {
    position: relative;
    font-size: 24px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .title:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 25px;
    /* background: linear-gradient(to left, #000428 0%, #004e92 100%); */
    background: #0044ff;
    /* for the underline of the heading*/
}

.forms .signup-form .title:before {
    width: 20px;
}

.forms .form-content .input-boxes {
    margin-top: 30px;
}

.forms .form-content .input-box {
    display: flex;
    align-items: center;
    height: 50px;
    width: 100%;
    margin: 10px 0;
    position: relative;
}

.form-content .input-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    padding: 0 30px;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.form-content .input-box input:focus,
.form-content .input-box input:valid {
    border-color: linear-gradient(to left, #000428 0%, #004e92 100%);
}

.form-content .input-box i {
    position: absolute;
    color: linear-gradient(to left, #000428 0%, #004e92 100%);
    font-size: 17px;
}

.forms .form-content .text {
    font-size: 14px;
    font-weight: 500;
    color: #333;
}

.forms .form-content .text a {
    text-decoration: none;
    color: blue;
    /* ensure "forgot password" not change to purple on click*/
}

.forms .form-content .text a:hover {
    text-decoration: underline;
}

.forms .form-content .button {
    color: #fff;
    margin-top: 40px;
}

.forms .form-content .button input {
    color: #fff;
    background: linear-gradient(to left, #000428 0%, #004e92 100%);
    border-radius: 6px;
    padding: 0;
    cursor: pointer;
    transition: all 0.4s ease;
}

.forms .form-content .button input:hover {
    background: linear-gradient(to left, #000428 0%, #004e92 100%);
}

.forms .form-content label {
    color: #0044ff;
    cursor: pointer;
}

.forms .form-content label:hover {
    text-decoration: underline;
}

.forms .form-content .login-text,
.forms .form-content .sign-up-text {
    text-align: center;
    margin-top: 25px;
}

.login-container #flip {
    display: none;
}

/* Home Section Starts */

.home {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;

    background: url(../images/business-blue.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    position: relative;
    text-align: center;
}

.home h1 {
    font-size: 6rem;
    color: white;
    /* border-bottom: 5px solid white; */
}
.home h1 span{
    color: #0044ff;
    /* color: #00f; */
    font-size: 6rem;
}

.home p {
    width: 70rem;
    padding: .9rem 0;

    font-weight: 600;
    font-size: 1.9rem;

    color: black;
    background: #eee;
    border-radius: 5rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
.home p img {
    width: 5%;
    position: relative;
    top: -4px;
}

/* Home Section Ends */

/* what we offer section */
.offering {
    padding-bottom: 50px;
}
.offering h2 {
    text-align: center;
    font-size: 7.5rem;
    width: fit-content;
    margin: 0 auto;

    /* padding: .5rem 25rem; */
    /* background: var(--background); */
    /* border-radius: 1.5rem; */
    /* box-shadow: 0 .1rem .3rem rgb(0,0,0, .6); */
}

.slider-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 25px auto;
    /* box-shadow: 0 .1rem .3rem rgb(0,0,0, .3); */
    /* background: var(--background); */
    border-radius: 5rem;
    /* padding-block: 8rem; */
}

.slider-wrapper .slider-nav {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 3px;
    align-self: center;
}

.slider-nav a {
    background-color: #fff;
    color: #000;
    padding: 10px;
    font-size: 2rem;
    clip-path: circle();
    text-decoration: none;
}

.slider-nav a:hover {
    background: var(--tio-green);
    color: #fff;
}

.slider {
    width: 650px;
    min-height: 500px;
    display: flex;
    text-align: justify;
    margin-right: 20px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    -webkit-overflow-scrolling: touch;
    /* outline: 2px solid black; */
}

.slide {
    color: #000;
    flex-shrink: 0;
    width: 100%;
    height: 100%;
    scroll-behavior:smooth;
    scroll-snap-align: start;
    background: #fff;
    border-radius: 2.5rem;
}

.slide .content {
    padding-inline: 25px;
    font-size: 1.3rem;
}

.slide .content h3 {
    font-size: 3rem;
    text-align: center;
    padding-block: 20px;
    border-bottom: 2px solid #000;
}

.slide .content .btn {
    text-align: center;
    margin-block: 30px;
    width: 100%;
    color: #fff;
    background-color: #000;
}

.slide .content .btn:hover {
    background: var(--tio-green);
    color: #000;
    font-weight: 600;
    outline: 2px solid #000;
}

.slide .content .btn a {
    color: inherit;
}

.slide .image img {
    object-fit: cover;
    width: 650px;
    height: 400px;
    /* border-bottom: 2px solid #000; */
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
}

.slide .content p {
    padding-top: 20px;
}

/* what we offer section ends */

/* vision-mission starts */
.vision-mission {
    background: url(../images/protest.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    color: #fff;
}
.vision-mission .content {
    flex: 1 1 40rem;
    font-size: 1.7rem;
    text-align: justify;

    border-radius: 10px;
    background: var(--black);
    padding: 80px;
    width: 550px;
    height: 500px;
}
.vision-mission .content h3 {
    font-size: 6rem;
    border-bottom: 3px solid  rgba(0, 255, 8, 0.898);
    margin-bottom: 20px;
}
/* vision-mission ends */

/* footer styles */
footer {
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    background: #111;
    font-size: 1.3rem;
}


footer .content {
    max-width: 1350px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .content p,
a {
    color: #fff;
}

footer .content .box {
    width: 33%;
    transition: all 0.4s ease;
}

footer .content .topic {
    font-size: 22px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 16px;

}

footer .content p {
    text-align: justify;
}

footer .content .lower .topic {
    margin: 24px 0 5px 0;
}

footer .content .lower i {
    padding-right: 16px;
}

footer .content .middle {
    padding-left: 80px;
}

footer .content .middle a {
    line-height: 32px;
}

footer .content .right input[type="text"] {
    height: 45px;
    width: 100%;
    outline: none;
    color: #d9d9d9;
    background: #000;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
}

footer .content .right input[type="submit"] {
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: #d9d9d9;
    background: var(--black);
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid var(--richfield-red);
    transition: all 0.3s ease-in-out;
}

.content .right input[type="submit"]:hover {
    background-color: var(--richfield-red);
    color: var(--black);
}

footer .content .media-icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
}

.content .media-icons a:hover {
    border-color: var(--richfield-red);
}

footer .bottom {
    width: 100%;
    text-align: center;
    color: #d9d9d9;
    padding: 0 40px 5px 0;
}

footer .bottom a {
    color: var(--richfield-red);
}

footer a {
    transition: all 0.3s ease;
}

footer a:hover {
    color: var(--richfield-red);
}

.footerImages {
    display: flex;
    gap: 1px;
    height: 180px;
}

.footerImages>* {
    display: block;
    width: 50%;
    height: 87%;

}







/* media queries */
@media (max-width:1100px) {
    footer .content .middle {
        padding-left: 50px;
    }
}

@media (max-width:950px) {
    footer .content .box {
        width: 50%;
    }

    .content .right {
        margin-top: 40px;
    }
}

@media (max-width:560px) {
    footer {
        position: relative;
    }

    footer .content .box {
        width: 100%;
        margin-top: 30px;
    }

    footer .content .middle {
        padding-left: 0;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 50%;
    }

    header #menu {
        display: block;
    }

    header .header-nav {
        position: fixed;
        top: -120%;
        left: 0;
        width: 100%;
        background: #888;
    }

    header .header-nav ul {
        flex-flow: column;
        padding: 2rem 0;
    }

    header .header-nav ul li {
        margin: 1.5rem 0;
        text-align: center;
        width: 100%;
    }

    header .header-nav ul li a {
        font-size: 2.5rem;
        display: block;
    }

    header .header-nav ul li a.active,
    header .header-nav ul li a:hover {
        color: var(--light-blue);
        border-bottom: none;
    }

    header .header-nav.nav-toggle {
        top: 6.4rem;
    }

    .home h1 {
        font-size: 4rem;
    }

    .home p {
        width: auto;
    }

    .fa-times {
        transform: rotate(180deg);
    }
}

@media (max-width: 730px) {
    .login-container .cover {
        display: none;
    }

    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }

    .form-content .signup-form {
        display: none;
    }

    .login-container #flip:checked~.forms .signup-form {
        display: block;
    }

    .login-container #flip:checked~.forms .login-form {
        display: none;
    }

    .slider {
        width: 500px;
    }

    .slide {
        width: 100%;
    }

    .slide .image img {
        width: 500px;
        height: 400px;
    }
}

@media (max-width: 500px) {
    html {
        font-size: 40%;
    }

    .login-container .cover {
        display: none;
    }

    .form-content .login-form,
    .form-content .signup-form {
        width: 100%;
    }

    .form-content .signup-form {
        display: none;
    }

    .login-container #flip:checked~.forms .signup-form {
        display: block;
    }

    .login-container #flip:checked~.forms .login-form {
        display: none;
    }
.offering h2 {
    text-align: left;
}
    .slider {
        width: 230px;
    }

    .slide {
        width: 100%;
    }

    .slide .image img {
        width: 230px;
        height: 200px;
    }
}