*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --blue-gradient: linear-gradient(to right, #000428 0%, #004e92 100%);
    --richfield-red: #e74033;
    --richfield-blue: #00f;
    --richfield-green: #39FF14;
    --background-reverse: linear-gradient(to right, 0%,/* #f0f */ #39FF14);
}
body {
    background-color: #111;
}
.start-ups {
    margin-block: 50px;
}
.wrapper {
    margin-block: 25px;
    margin-inline: auto;
    max-width: 90%;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 75px;
}
.card__team {
    text-transform: uppercase;
    text-align: center;
    border-radius: 1.5%;

    box-shadow: 0 .1rem .3rem rgba(0, 0, 0, .3);
    flex: 1 1 20rem;
}
.card__team:hover {
    box-shadow: 1px 1px 20px #273445, -1px -1px 20px #273445;
}
.card__image {
    display: block;
    object-fit: cover;
    width: 100%;
    /* margin: 0 auto; */
    flex: 1 1 auto;
    height: 80%;
}
.card__text {
    background: #dadada;
    height: 20%;
    font-size: 1.5rem;
    font-weight: 800;
    display: flex;
    align-items: center;
    justify-content: center;
}
.card__text a {
    color: #000;
    text-decoration: none;
    border-bottom: 3px solid var(--richfield-red);
}
.card__text a:hover {
    border-bottom: none;
}